*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: lightblue;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 300px;
    height: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #001eff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    transition: width 0.3s ease;
}
.header-text{
    margin-top: 0px;
    margin-left: 800px;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    color: #ffffff;
    margin-top: 0px;
    white-space: nowrap;
}
.header-text h1 span{
    color: #1196e3
}
.header-text h2{
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
}
/*------about------*/
#about{
    padding: 80px 0;
    color: aliceblue;
}
.row{
    align-items: flex;
    justify-content: space-between;
    flex-wrap: flex;

}
.about-col-1{
    flex-basis: 35%;
    background-image: url('image/New.png.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    padding-left: 15px;
}
.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color:#1196e3;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #001eff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #001eff;
    font-size: 24px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*------------services------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #1196e3;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #3fd3ed;
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}
/*-----------products-----------*/
#JRC-products{
    padding: 50px 0;
}
.product-img{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.product-img:hover{
    transform: scale(1.5);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 50%;
    border-radius: 50px;
    padding: 10px;
   display: block;
   transition: transform 0.5s;
}
.layer{
    display:Layer;
width:50%;
height: 50%;
background: linear-gradient(rgba(0, 0, 0, 0.6), #001eff);
border-radius: 10px;
position: absolute;
left: 0;
bottom: 10px;
overflow: hidden;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
}
    .layer p{
    font-size: 13px;
    }
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
   height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #001eff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    position: relative;
}
.btn:hover{
    background: #001eff;
    transition: 0.3s ease-in-out;
    position: relative;
}
/*-----------contact-----------*/
#contact{
    padding: 100px 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.btn.btn2{
    display: inline-block;
   background: #001eff;
   margin-left: 30px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/*---------css for small screen-----------*/
@media only screen and (max-width: 600px){

    }
    .header-text{
        margin-top: 50px;
        margin-left: 0;
        font-size: 16px;
        text-align: center;
    }
    .header-text img{
        width: 500px !important;
        margin-bottom: 20px;
    }
    .header-text h1{
        font-size: 30px;
    }
    #about{
        padding: 10px 0;
    }
    nav .fas{
        display: 205x;
        font-size: 30px;
    }
    nav ul{
        background: lightblue;
        position: absolute;position: fixed;
        top: 0;
        right: 0;
        width: 120px;
        height: auto;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    }
    .about-col-1 img{
        width: 4%;
    }
    .sub-tittle{
        font-size: 40px;
    }

    #msg{
        color: #001eff;
        margin-top: -40px;
        display: block;
        margin-left: 30px;
    }
